/**
 * @fileoverview
 * APPLICATION STYLES
 *
 * This stylesheet includes all styles needed to render the entire viewport,
 * namely Tailwind utilities, standardized viewport styles, and all component
 * styles.
 */

/**
 * Load Tailwind utilities.
 */
@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

/**
 * Load this module's component styles.
 */
@import "./components/index.css";